{% extends 'base.html' %}
{% block container %}
    <p> we are a group of students commited to changing our world for the better. One of the first steps in that goal is to help Reduce, Reuse, and Recycle to protect our earth.
    Currently Del Valle High School does not have any recycling bins for use at the school the best is a few standout teachers who keep a bin for their class, but nothing for the whole schools use. This leads to Del Valle
    being a negative influence on our enviorment. We are comprised of three teen sophomores at Del Valle High School, all with a passion for technology and bettering our future. </p>

{% endblock %}